<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="4"> -->
    <title><%= @hansard.date_of_meeting %> Winipeg Council Meeting</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
</head>
<body>
    <div id="wrap">
        <header>
            <h1><%= @hansard.date_of_meeting %> Winipeg Council Meeting</h1>
        </header>
        <section class="top-words">
            <h2>Frequently Used Terms</h2>
            <ul>
            <% @hansard.sorted_word_occurrences.take(20).each do |word| %>
                <li><%= word['mention'].capitalize %> - <%= word['count'] %></li>
            <% end %>
            </ul>
        </section>
        <section class="capitalized-phrase">
            <h2>Common Capitalized Phrases</h2>
            <ul>
            <% @hansard.capitalized_phrases_counted.take(20).each do |capitalized_phrase| %>
                <li><%= capitalized_phrase['mention'].split.map(&:capitalize).join(' ') %> - <%= capitalized_phrase['count'] %></li>
            <% end %>
            </ul>
        </section>
        <section class="by-laws">
            <h2>By Laws Mentioned</h2>
            <ul>
            <% @hansard.by_laws_counted.each do |by_law| %>
                <li><%= by_law['mention'] %> - <%= by_law['count'] %></li>
            <% end %>
            </ul>
        </section>
        <section class="attendnce">
            <h2>Attendance &amp; Participation</h2>
            <ul>
            <% @hansard.speakers_sorted_by_counted_words.each do |speaker| %>
                <li><%= speaker['name'] %> - <%= speaker['word_count'] %></li>
            <% end %>
            </ul>
        </section>
        <ul class='sections'>
            <% @hansard.all_sections.each do |section| %>
                <li class="section <%= section['type'] %>">
                    <% if section['type'] == 'section' %> 
                        <h2><%= section['name'] %></h2>
                    <% elsif section['type'] == 'speaker' %>
                        <header>
                            <img src="images/<%= section['name'].gsub(' ','_') %>.jpg">
                        </header>
                        <section>
                            <h2><%= section['name'] %></h2>
                            <blockquote>
                                <%= section['spoken'] %>
                            </blockquote>
                        </section>
                    <% elsif section['type'] == 'vote' %>
                        <h2><%= section['name'] %></h2>
                        <dl>
                            <dt>Outcome</dt>
                            <dd><%= section['outcome'] %></dd>
                            <dt>Yeas</dt>
                            <dd><%= section['yeas'] %></dd>
                            <dt>Nays</dt>
                            <dd><%= section['nays'] %></dd>
                        </dl>
                    <% elsif section['type'] == 'motion' %>
                        <h2><%= section['name'] %></h2>
                        <dl>
                            <dt>Moved By</dt>
                            <dd><%= section['moved_by'] %></dd>
                            <dt>Seconded By</dt>
                            <dd><%= section['seconded_by'] %></dd>
                            <dt>Motion</dt>
                            <dd><%= section['motion_text'] %></dd>
                        </dl>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</body>
</html>

